header{
    background-image: url( "img/");
    height: 60px;
}

body{    
}

.head{
    width: 500px;
    height: 500px;
}

.tablerow{
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

.grey{
    color: grey;
}

.white{
    color: white;
    font-size: 15px;
    position: absolute;
}

.footer{
    position: relative;
    width: 200px;
    height: 200px;
}


#bool{
    color: lightblue;
}

#blue{
    background-color: rgb(71, 113, 204);
}