header{
    background-image: url( "img/");
    height: 60px;
}

body{
    
}

.head{
    width: 500px;
    height: 500px;
}

#logo {
    width: 150px;
    height: 150px;
}

#bool{
    color: lightblue;
}