header{
    background-color: cornflowerblue;
    background-image: url( "../img/pattern.png");
    height: 200px;
}

body{    
}

.head{
    width: 500px;
    height: 500px;
}

.tablerow{
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

.grey{
    color: grey;
}

.white{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer{
    position: relative;
}

.half-width{
    width: 50%;
}


#bool{
    color: lightblue;
}

#blue{
    background-color: rgb(71, 113, 204);
}

#logo{
    margin-left: 10px;
    margin-top: 110px;
    width: 300px;
}